// these name will change based on uses 
// instead of what they are
$light-grey: rgb(247, 247, 247);
$dark-grey: rgb(227, 227, 227);
$mid-cyan: rgb(36, 205, 152);
$dark-cyan: rgb(26, 159, 117);
$light-dark: rgb(47, 47, 47);
$dark-black: rgb(0, 0, 0);