.upload-img-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.drop-crop-and-sucess-container-outer {
    width: 35rem;
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);

    @include respond(mq-768) {
        width: 25rem;
        height: 25rem;
    }

    @include respond(mq-1500) {
        width: 40rem;
        height: 40rem;
    }
}

.drop-crop-and-sucess-container-inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.drop-zone-container {
    border: 2px dashed rgb(102, 102, 102);
    border-radius: 0.3rem;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

    .upload-icon {
        margin-bottom: 1rem;
    }

    .drop-zone-para {
        align-items: center;
        text-align: center;

        .browse {
            color: $green-light;
        }
    }

    .drop-zone-requirements {
        margin-top: 2.5rem;
        padding: 1.5rem;
        background: white;
        border-radius: 3px;

        p {
            padding: 0.2rem;
            font-size: 1.2rem;
            text-align: center;

            @include respond(mq-768) {
                font-size: 1rem;
            }

            @include respond(mq-480) {
                font-size: 0.8rem;
            }
        }

        @include respond(mq-768) {
            margin: 1.5rem;
            padding: 1rem;
        }
    }
}

.canvas-container {
    width: 15rem;
    height: 15rem;
    border: 2px dashed rgb(102, 102, 102);
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.4) 1px 7px 20px 2px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    @include respond(mq-768) {
        width: 14.3rem;
        height: 14.3rem;
        top: -12.5rem;
        left: 7.2rem;
    }

    @include respond(mq-1500) {
        width: 16.5rem;
        height: 16.5rem;
    }

    .crop-icon {
        margin-bottom: 1rem;
    }

    .canvas-para {
        font-size: 1.2rem;

        @include respond(mq-768) {
            font-size: 1rem;
        }

        @include respond(mq-480) {
            font-size: 0.8rem;
        }

        @include respond(mq-1500) {
            font-size: 1.2rem;
        }

        @include respond(mq-1800) {
            font-size: 1.4rem;
        }
    }
}

.canvas {
    z-index: 12;
    width: 15rem;
    height: 15rem;
    position: absolute;
    border-radius: 0.3rem;
    border: 2px dashed rgb(102, 102, 102);

    @include respond(mq-768) {
        width: 14.3rem;
        height: 14.3rem;
    }

    @include respond(mq-1500) {
        width: 16.5rem;
        height: 16.5rem;
    }
}

.img-crop-container {
    width: 100%;
    height: 100%;
    cursor: pointer;

    img {
        display: block;
        width: 100%;
        height: 100%;
        @include center-container-x-and-y;
    }
}

.upload-img-error-message-container {
    position: absolute;
    top: 5.5rem;
    width: 35rem;

    @include respond(mq-768) {
        width: 25rem;
        top: 1.2rem;
    }

    @include respond(mq-1500) {
        width: 40rem;
    }

    .upload-img-error-message {
        color: $red-dk;
    }
}

.modal-XL-popup-buttons-container {
    position: absolute;
    bottom: 5.5rem;
    left: 10rem;
    display: flex;
    width: 35rem;
    justify-content: space-between;

    @include respond(mq-768) {
        margin-top: 0;
        top: -3.9rem;
        left: 0rem;
        width: 14.4rem;
        bottom: auto;
    }

    @include respond(mq-1500) {
        bottom: 4.5rem;
        width: 40rem;
    }

    button:last-child {
        width: 7.1rem;

        @include respond(mq-768) {
            width: 6.5rem;
        }

        @include respond(mq-480) {
            width: 5.4rem;
        }

        @include respond(mq-1500) {
            width: 7.7rem;
        }

        @include respond(mq-1800) {
            width: 9.3rem;
        }
    }

    @include respond(mq-1800) {
        margin-top: 5rem;
    }
}

// SASS variables for normal drag handle and bar size.
// Override in your scss file by setting these variables FIRST, then including this file.
$drag-handle-width: 9px !default;
$drag-handle-height: 9px !default;
$drag-bar-size: 6px !default;

// Query to kick us into "mobile" mode with larger drag handles/bars.
//  If you're supporting modern browsers, you can use "pointer: coarse",
//  see: https://developer.mozilla.org/en-US/docs/Web/CSS/@media/pointer
$mobile-media-query: "(max-width: 768px), (pointer: coarse)" !default;

// Mobile handle/bar sizes.  Override as above.
$drag-handle-mobile-width: $drag-handle-width + 8 !default;
$drag-handle-mobile-height: $drag-handle-height + 8 !default;
$drag-bar-mobile-size: $drag-bar-size + 8 !default;

// Handle color/border.
$drag-handle-background-colour: rgba(0, 0, 0, 0.2) !default;
$drag-handle-border: 1px solid rgba(255, 255, 255, 0.7) !default;

.ReactCrop {
    position: relative;
    display: inline-block;
    cursor: crosshair;
    overflow: hidden;
    max-width: 100%;
    background-color: #000;

    &:focus {
        outline: none;
    }

    &--disabled {
        cursor: inherit;
    }

    &__image {
        /* autoprefixer: off */
        display: block;
        max-width: 100%;
        max-height: -webkit-fill-available;
        max-height: -moz-available;
        max-height: stretch;
    }

    &--crop-invisible &__image {
        opacity: 0.5;
    }

    &__crop-selection {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate3d(0, 0, 0);
        box-sizing: border-box;
        cursor: move;
        box-shadow: 0 0 0 9999em rgba(0, 0, 0, 0.5);

        .ReactCrop--disabled & {
            cursor: inherit;
        }

        border: 1px solid;
        border-image-source: url("data:image/gif;base64,R0lGODlhCgAKAJECAAAAAP///////wAAACH/C05FVFNDQVBFMi4wAwEAAAAh/wtYTVAgRGF0YVhNUDw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6OEI5RDc5MTFDNkE2MTFFM0JCMDZEODI2QTI4MzJBOTIiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6OEI5RDc5MTBDNkE2MTFFM0JCMDZEODI2QTI4MzJBOTIiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoTWFjaW50b3NoKSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuZGlkOjAyODAxMTc0MDcyMDY4MTE4MDgzQzNDMjA5MzREQ0ZDIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjAyODAxMTc0MDcyMDY4MTE4MDgzQzNDMjA5MzREQ0ZDIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+Af/+/fz7+vn49/b19PPy8fDv7u3s6+rp6Ofm5eTj4uHg397d3Nva2djX1tXU09LR0M/OzczLysnIx8bFxMPCwcC/vr28u7q5uLe2tbSzsrGwr66trKuqqainpqWko6KhoJ+enZybmpmYl5aVlJOSkZCPjo2Mi4qJiIeGhYSDgoGAf359fHt6eXh3dnV0c3JxcG9ubWxramloZ2ZlZGNiYWBfXl1cW1pZWFdWVVRTUlFQT05NTEtKSUhHRkVEQ0JBQD8+PTw7Ojk4NzY1NDMyMTAvLi0sKyopKCcmJSQjIiEgHx4dHBsaGRgXFhUUExIREA8ODQwLCgkIBwYFBAMCAQAAIfkEBQoAAgAsAAAAAAoACgAAAhWEERkn7W3ei7KlagMWF/dKgYeyGAUAIfkEBQoAAgAsAAAAAAoACgAAAg+UYwLJ7RnQm7QmsCyVKhUAIfkEBQoAAgAsAAAAAAoACgAAAhCUYgLJHdiinNSAVfOEKoUCACH5BAUKAAIALAAAAAAKAAoAAAIRVISAdusPo3RAzYtjaMIaUQAAIfkEBQoAAgAsAAAAAAoACgAAAg+MDiem7Q8bSLFaG5il6xQAIfkEBQoAAgAsAAAAAAoACgAAAg+UYRLJ7QnQm7SmsCyVKhUAIfkEBQoAAgAsAAAAAAoACgAAAhCUYBLJDdiinNSEVfOEKoECACH5BAUKAAIALAAAAAAKAAoAAAIRFISBdusPo3RBzYsjaMIaUQAAOw==");
        border-image-slice: 1;
        border-image-repeat: repeat;
    }

    &__drag-handle {
        position: absolute;
        width: $drag-handle-width;
        height: $drag-handle-height;
        background-color: $drag-handle-background-colour;
        border: $drag-handle-border;
        box-sizing: border-box;

        // This stops the borders disappearing when keyboard
        // nudging.
        outline: 1px solid transparent;
    }

    .ord-nw {
        top: 0;
        left: 0;
        margin-top: -(ceil($drag-handle-height / 2));
        margin-left: -(ceil($drag-handle-width / 2));
        cursor: nw-resize;
    }
    .ord-n {
        top: 0;
        left: 50%;
        margin-top: -(ceil($drag-handle-height / 2));
        margin-left: -(ceil($drag-handle-width / 2));
        cursor: n-resize;
    }
    .ord-ne {
        top: 0;
        right: 0;
        margin-top: -(ceil($drag-handle-height / 2));
        margin-right: -(ceil($drag-handle-width / 2));
        cursor: ne-resize;
    }
    .ord-e {
        top: 50%;
        right: 0;
        margin-top: -(ceil($drag-handle-height / 2));
        margin-right: -(ceil($drag-handle-width / 2));
        cursor: e-resize;
    }
    .ord-se {
        bottom: 0;
        right: 0;
        margin-bottom: -(ceil($drag-handle-height / 2));
        margin-right: -(ceil($drag-handle-width / 2));
        cursor: se-resize;
    }
    .ord-s {
        bottom: 0;
        left: 50%;
        margin-bottom: -(ceil($drag-handle-height / 2));
        margin-left: -(ceil($drag-handle-width / 2));
        cursor: s-resize;
    }
    .ord-sw {
        bottom: 0;
        left: 0;
        margin-bottom: -(ceil($drag-handle-height / 2));
        margin-left: -(ceil($drag-handle-width / 2));
        cursor: sw-resize;
    }
    .ord-w {
        top: 50%;
        left: 0;
        margin-top: -(ceil($drag-handle-height / 2));
        margin-left: -(ceil($drag-handle-width / 2));
        cursor: w-resize;
    }

    // Use the same specificity as the ords above but just
    // come after.
    &__disabled &__drag-handle {
        cursor: inherit;
    }

    &__drag-bar {
        position: absolute;

        &.ord-n {
            top: 0;
            left: 0;
            width: 100%;
            height: $drag-bar-size;
            margin-top: -($drag-bar-size / 2);
        }
        &.ord-e {
            right: 0;
            top: 0;
            width: $drag-bar-size;
            height: 100%;
            margin-right: -($drag-bar-size / 2);
        }
        &.ord-s {
            bottom: 0;
            left: 0;
            width: 100%;
            height: $drag-bar-size;
            margin-bottom: -($drag-bar-size / 2);
        }
        &.ord-w {
            top: 0;
            left: 0;
            width: $drag-bar-size;
            height: 100%;
            margin-left: -($drag-bar-size / 2);
        }
    }

    &--new-crop &__drag-bar,
    &--new-crop &__drag-handle,
    &--fixed-aspect &__drag-bar {
        display: none;
    }

    &--fixed-aspect &__drag-handle.ord-n,
    &--fixed-aspect &__drag-handle.ord-e,
    &--fixed-aspect &__drag-handle.ord-s,
    &--fixed-aspect &__drag-handle.ord-w {
        display: none;
    }

    @media #{$mobile-media-query} {
        &__drag-handle {
            width: $drag-handle-mobile-width;
            height: $drag-handle-mobile-height;
        }

        .ord-nw {
            margin-top: -(ceil($drag-handle-mobile-height / 2));
            margin-left: -(ceil($drag-handle-mobile-width / 2));
        }
        .ord-n {
            margin-top: -(ceil($drag-handle-mobile-height / 2));
            margin-left: -(ceil($drag-handle-mobile-width / 2));
        }
        .ord-ne {
            margin-top: -(ceil($drag-handle-mobile-height / 2));
            margin-right: -(ceil($drag-handle-mobile-width / 2));
        }
        .ord-e {
            margin-top: -(ceil($drag-handle-mobile-height / 2));
            margin-right: -(ceil($drag-handle-mobile-width / 2));
        }
        .ord-se {
            margin-bottom: -(ceil($drag-handle-mobile-height / 2));
            margin-right: -(ceil($drag-handle-mobile-width / 2));
        }
        .ord-s {
            margin-bottom: -(ceil($drag-handle-mobile-height / 2));
            margin-left: -(ceil($drag-handle-mobile-width / 2));
        }
        .ord-sw {
            margin-bottom: -(ceil($drag-handle-mobile-height / 2));
            margin-left: -(ceil($drag-handle-mobile-width / 2));
        }
        .ord-w {
            margin-top: -(ceil($drag-handle-mobile-height / 2));
            margin-left: -(ceil($drag-handle-mobile-width / 2));
        }

        &__drag-bar.ord-n {
            height: $drag-bar-mobile-size;
            margin-top: -($drag-bar-mobile-size / 2);
        }
        &__drag-bar.ord-e {
            width: $drag-bar-mobile-size;
            margin-right: -($drag-bar-mobile-size / 2);
        }
        &__drag-bar.ord-s {
            height: $drag-bar-mobile-size;
            margin-bottom: -($drag-bar-mobile-size / 2);
        }
        &__drag-bar.ord-w {
            width: $drag-bar-mobile-size;
            margin-left: -($drag-bar-mobile-size / 2);
        }
    }
}
