.spinner-container {
    position: absolute;
    z-index: 20;
    position: absolute;
    width: 100%;
    height: 100%;
    @include center-container-x-and-y;
}

div.spinner {
    position: relative;
    width: 15rem;
    height: 15rem;
    display: inline-block;
    @include center-container-x-and-y;

    @include respond(mq-768) {
        width: 12rem;
        height: 12rem;
    }

    @include respond(mq-480) {
        width: 11rem;
        height: 11em;
    }

    @include respond(mq-1500) {
        width: 18rem;
        height: 18rem;
    }

    @include respond(mq-1800) {
        width: 20rem;
        height: 20rem;
    }
}

div.spinner div {
    width: 6%;
    height: 16%;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgb(52, 208, 88)),
        color-stop(90%, rgb(40, 167, 69))
    );
    position: absolute;
    left: 49%;
    top: 43%;
    opacity: 0;
    -webkit-border-radius: 50px;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    -webkit-animation: fade 1s linear infinite;
}

@-webkit-keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.25;
    }
}

div.spinner div.bar1 {
    -webkit-transform: rotate(0deg) translate(0, -130%);
    -webkit-animation-delay: 0s;
}

div.spinner div.bar2 {
    -webkit-transform: rotate(30deg) translate(0, -130%);
    -webkit-animation-delay: -0.9167s;
}

div.spinner div.bar3 {
    -webkit-transform: rotate(60deg) translate(0, -130%);
    -webkit-animation-delay: -0.833s;
}
div.spinner div.bar4 {
    -webkit-transform: rotate(90deg) translate(0, -130%);
    -webkit-animation-delay: -0.7497s;
}
div.spinner div.bar5 {
    -webkit-transform: rotate(120deg) translate(0, -130%);
    -webkit-animation-delay: -0.667s;
}
div.spinner div.bar6 {
    -webkit-transform: rotate(150deg) translate(0, -130%);
    -webkit-animation-delay: -0.5837s;
}
div.spinner div.bar7 {
    -webkit-transform: rotate(180deg) translate(0, -130%);
    -webkit-animation-delay: -0.5s;
}
div.spinner div.bar8 {
    -webkit-transform: rotate(210deg) translate(0, -130%);
    -webkit-animation-delay: -0.4167s;
}
div.spinner div.bar9 {
    -webkit-transform: rotate(240deg) translate(0, -130%);
    -webkit-animation-delay: -0.333s;
}
div.spinner div.bar10 {
    -webkit-transform: rotate(270deg) translate(0, -130%);
    -webkit-animation-delay: -0.2497s;
}
div.spinner div.bar11 {
    -webkit-transform: rotate(300deg) translate(0, -130%);
    -webkit-animation-delay: -0.167s;
}
div.spinner div.bar12 {
    -webkit-transform: rotate(330deg) translate(0, -130%);
    -webkit-animation-delay: -0.0833s;
}
