@import "../mixins/mixins.scss";
.logo,
.logo-container {
    display: block;
    width: 4rem;
    height: 5.3rem;
}

@include respond(mq-480) {
    .logo,
    .logo-container {
        width: 3.5rem;
        height: 4.7rem;
    }
}

@include respond(mq-1500) {
    .logo,
    .logo-container {
        width: 4.5rem;
        height: 6rem;
    }
}

@include respond(mq-1800) {
    .logo,
    .logo-container {
        width: 5rem;
        height: 6.7rem;
    }
}
