@import "../mixins/mixins.scss";
@import "../vars/vars.scss";

.nav {
    a {
        color: $header-color-nav;
        z-index: 1;
        font-size: 1.6rem;
        padding: 0 1rem;
        width: 100%;
    }

    .nav-list {
        width: 28.5rem;
        margin-left: 7.5rem;
        cursor: pointer;
    }
}

.sidebar-nav {
    margin-top: 2.5rem;

    @include respond(mq-768) {
    }

    a {
        color: black;
        z-index: 1;
        font-size: 1.6rem;
        padding: 1rem 0;
        width: 100%;
        font-weight: 700;

        @include respond(mq-480) {
            font-size: 1.4rem;
        }

        @include respond(mq-1500) {
            font-size: 1.8rem;
        }

        span {
            padding-left: 2.2rem;
        }
    }

    .sidebar-nav-item {
        width: 100%;
        padding: 0.5rem 0;
    }

    .sidebar-nav-item:first-child {
        padding: 0 0 0.5rem 0;
    }

    .sidebar-nav-item:last-child {
        padding: 0.5rem 0 0 0;
    }
}

@include respond(mq-768) {
    .nav {
        width: 100%;
        margin-top: 1rem;

        a {
            font-size: 1.8rem;
            padding: 0 0rem;
            color: white;
        }

        .nav-list {
            width: 100%;
            margin-left: 0;
        }

        .nav-list-item {
            width: 100%;
            padding: 1rem 0;
        }

        .nav-list-item:first-child {
            padding-top: 2rem;
            border-top: 1px solid darken($button-color-dk, 0%);
        }
    }
}

@include respond(mq-480) {
    .nav {
        width: 100%;
        a {
            font-size: 1.6rem;
        }
    }
}

@include respond(mq-1500) {
    .nav {
        a {
            font-size: 1.8rem;
        }

        .nav-list {
            width: 28.5rem;
            margin-left: 10.5rem;
        }

        .nav-list-item {
            margin-right: 2.5rem;
        }
    }
}
