language: csharp
dist: trusty
mono: none
dotnet: 2.1.302
install:
  - dotnet restore
  - nvm install 10.8.0
  - nvm use 10.8.0
script:
  - dotnet build
  - dotnet test squadup.Tests/
  - npm install squadup/ClientApp
  - npm run build squadup/ClientApp
  - npm run test a squadup/ClientApp
