.success-noti {
    color: darken($button-color-lt, 10%);
}
.success-noti-container {
    @include center-container-x-and-y;

    h2 {
        text-align: center;
        font-size: 8rem;

        @include respond(mq-768) {
            font-size: 6.5rem;
        }

        @include respond(mq-480) {
            font-size: 5.2rem;
        }

        @include respond(mq-1500) {
            font-size: 9.6rem;
        }

        @include respond(mq-1800) {
            font-size: 10.6rem;
        }
    }

    p {
        text-align: center;
    }
}

.signup-and-login-and-forgotpassword {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%);

    .input {
        margin: 1.5rem 0;
    }

    h3 {
        margin-bottom: 1.5rem;
    }

    button {
        margin-top: 2rem;
    }

    .icon-container {
        position: absolute;
        right: 0;
        top: 3.8rem;
    }
}

.error-message {
    color: $new-messages-count;
    font-size: 1.2rem;
    height: 1.2rem;
}

.input {
    width: 100%;
    padding: 2rem 3rem 1rem 0rem;
    border-bottom: 1px solid darken($nav-list-item-color, 30%);
    padding-right: 30px;
}

.label {
    font-size: 1.2rem;
    color: darken($nav-list-item-color, 30%);
    top: 3.8rem;
}

.label-active-text {
    font-size: 1rem;
    top: 1.7rem;
}

.label,
.label-active-text {
    position: absolute;
    transition: 0.5s;
    pointer-events: none;
}

input:focus ~ .label {
    top: 1.7rem;
    font-size: 1rem;
    color: darken($nav-list-item-color, 30%);
}

.input-border-effect {
    border-bottom: 1px solid black;
    width: 0;
}

.input-border-effect-active {
    border-bottom: 1px solid black;
    color: rgb(36, 41, 46);
    width: 100%;
}

.input-border-effect,
.input-border-effect-active {
    position: absolute;
    bottom: 2.7rem;
    z-index: 2;
    transition: 0.5s;
}

input:focus ~ .input-border-effect {
    color: rgb(36, 41, 46);
    width: 100%;
}

.signup-and-login-and-forgotpassword-call-to-actions {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    p {
        font-size: 12px;
        margin-left: 2rem;
    }

    .forgot-password {
        margin-top: 2rem;
        margin-left: 0;
    }

    span,
    .forgot-password {
        color: darken($button-color-lt, 10%);
        cursor: pointer;
    }

    span:hover,
    .forgot-password:hover {
        color: darken($button-color-lt, 15%);
    }

    span:active,
    .forgot-password:active {
        color: darken($button-color-lt, 20%);
    }

    .forgot-password {
        font-size: 1.6rem;
    }
}

@include respond(mq-768) {
    .signup-and-login-and-forgotpassword-call-to-actions {
        p {
            font-size: 1rem;
            margin-left: 1.9rem;
        }

        .forgot-password {
            font-size: 1.4rem;
        }
    }
    .signup-and-login-and-forgotpassword {
        transform: translate(-50%, -50%);

        .input {
            margin: 1.25rem 0;
        }

        h3 {
            margin-bottom: 1rem;
        }

        button {
            margin-top: 1.75rem;
        }

        .icon-container {
            top: 3.2rem;
        }
    }
    .error-message {
        font-size: 1rem;
        height: 1rem;
    }

    .label {
        font-size: 10px;
    }

    .label-active-text {
        font-size: 8px;
    }

    input:focus ~ .label {
        font-size: 8px;
    }

    .input-border-effect,
    .input-border-effect-active {
        bottom: 2.3rem;
    }
}

@include respond(mq-480) {
    .signup-and-login-and-forgotpassword-call-to-actions {
        p {
            font-size: 0.8rem;
        }

        .forgot-password {
            font-size: 1.2rem;
        }
    }

    .signup-and-login-and-forgotpassword {
        .input {
            margin: 1rem 0;
        }

        h3 {
            margin-bottom: 1rem;
        }

        button {
            margin-top: 1.5rem;
        }

        .icon-container {
            top: 3.1rem;
        }
    }

    .error-message {
        font-size: 0.8rem;
        height: 0.8rem;
    }

    .label {
        font-size: 8px;
    }

    .label-active-text {
        font-size: 6px;
    }

    input:focus ~ .label {
        font-size: 6px;
    }

    .input-border-effect,
    .input-border-effect-active {
        bottom: 1.8rem;
    }
}

@include respond(mq-1500) {
    .signup-and-login-and-forgotpassword {
        .input {
            margin: 1.75rem 0;
        }

        h3 {
            margin-bottom: 1.75rem;
        }

        button {
            margin-top: 2.25rem;
        }
        .icon-container {
            top: 4rem;
        }
    }

    .signup-and-login-and-forgotpassword-call-to-actions {
        p {
            font-size: 1.4rem;
            margin-left: 2.5rem;
        }

        .forgot-password {
            margin-top: 2.5rem;
        }

        span {
            padding-left: 0.5rem;
        }

        .forgot-password {
            font-size: 1.8rem;
        }
    }

    .input {
        padding: 2.25rem 0rem 1.25rem 0rem;
    }

    .error-message {
        font-size: 1.4rem;
        height: 1.4rem;
    }

    .label {
        font-size: 1.4rem;
        top: 4rem;
    }

    .label-active-text {
        font-size: 1.2rem;
    }

    input:focus ~ .label {
        font-size: 1.2rem;
    }

    .input-border-effect,
    .input-border-effect-active {
        bottom: 3.1rem;
    }
}

@include respond(mq-1800) {
    .signup-and-login-and-forgotpassword-call-to-actions {
        p {
            font-size: 1.6rem;
            margin-left: 3rem;
        }
    }

    .forgot-password {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .error-message {
        font-size: 1.6rem;
        height: 1.6rem;
    }

    .signup-and-login {
        .input {
            margin: 1.75rem 0;
        }

        h3 {
            margin-bottom: 1.75rem;
        }

        button {
            margin-top: 2.25rem;
        }
    }

    .input {
        padding: 2.25rem 0rem 1.25rem 0rem;
    }

    .error-message {
        font-size: 1.4rem;
        height: 1.4rem;
    }

    .label {
        font-size: 1.4rem;
        top: 4rem;
    }

    .label-active-text {
        font-size: 1.2rem;
    }

    input:focus ~ .label {
        font-size: 1.2rem;
    }

    .input-border-effect,
    .input-border-effect-active {
        bottom: 3.1rem;
    }
}
