/* START .................................. MEDIA QUERIES */
/* END .................................... MEDIA QUERIES */
#header {
  width: 100%;
  background-color: #24292e;
  z-index: 101;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  border-bottom: 1px solid #34d058; }

@media (max-width: 768px) {
  #header {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem; } }

@media (max-width: 480px) {
  #header {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem; } }

@media (min-width: 1500px) {
  #header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 5rem;
    padding-left: 5rem; } }

@media (min-width: 1800px) {
  #header {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-right: 7.5rem;
    padding-left: 7.5rem; } }
