/* START .................................. MEDIA QUERIES */
/* END .................................... MEDIA QUERIES */
/*$light-grey: rgb(247, 247, 247);
$dark-grey: rgb(207, 207, 207);
$green-dark: rgb(40, 167, 69);
$green-light: rgb(52, 208, 88);
$light-dark: rgb(47, 47, 47);
$dark-black: rgb(0, 0, 0);
$new-messages-count: rgb(222, 16, 29)*/
#header {
  position: fixed;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start; }
  #header .nav-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start; }
    @media (max-width: 768px) {
      #header .nav-list {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start; } }

.nav a {
  position: relative;
  display: block; }

.nav .nav-list-item {
  position: relative; }

.hamburger-icon {
  display: none; }

.icon-container {
  position: relative; }

.icon-info-inbox {
  left: -50%;
  transform: translateX(6%);
  top: 125%; }

.icon-info-logout {
  left: -50%;
  transform: translateX(-8%);
  top: 125%; }

.icon-info-dashboard {
  left: -50%;
  transform: translateX(-16%);
  top: 125%; }

.new-messages-count {
  position: absolute; }

.icon-info-dashboard,
.icon-info-inbox,
.icon-info-logout {
  position: absolute;
  display: none; }

.signup-and-login:after {
  clear: both;
  content: "";
  display: block; }

.login-signup-and-icon-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start; }
  .login-signup-and-icon-container .user-icon {
    display: block; }

@media (max-width: 768px) {
  .login-signup-and-icon-container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start; }
  .hamburger-icon {
    display: block; }
  .nav {
    order: 1; } }

@media (max-width: 480px) {
  .icon-info-inbox {
    transform: translateX(8%); }
  .icon-info-logout {
    left: -50%;
    transform: translateX(-7%);
    top: 125%; }
  .icon-info-dashboard {
    transform: translateX(-18%); } }

@media (min-width: 1500px) {
  .icon-info-inbox {
    transform: translateX(2%); }
  .icon-info-logout {
    left: -50%;
    transform: translateX(-10%);
    top: 125%; }
  .icon-info-dashboard {
    transform: translateX(-19.5%); } }

@media (min-width: 1800px) {
  .icon-info-inbox {
    transform: translateX(-3%); }
  .icon-info-logout {
    left: -50%;
    transform: translateX(-11%);
    top: 125%; }
  .icon-info-dashboard {
    left: -50%;
    transform: translateX(-20%); } }
