/* START .................................. MEDIA QUERIES */
/* END .................................... MEDIA QUERIES */
.login-signup-and-icon-container button {
  width: 8rem; }

.login-signup-and-icon-container button:first-child {
  margin-right: 2rem; }

.login-signup-and-icon-container .envelope-icon {
  margin-right: 2rem;
  text-align: right; }

.login-signup-and-icon-container .user-icon {
  margin-right: 2rem; }

@media (max-width: 768px) {
  .login-signup-and-icon-container {
    margin-right: 5rem; }
    .login-signup-and-icon-container button {
      width: 7.2rem; }
    .login-signup-and-icon-container button:first-child {
      margin-right: 1.5rem; }
    .login-signup-and-icon-container .user-icon,
    .login-signup-and-icon-container .envelope-icon {
      margin-right: 1.5rem; } }

@media (max-width: 480px) {
  .login-signup-and-icon-container {
    margin-right: 2.5rem; }
    .login-signup-and-icon-container button {
      width: 6.2rem; } }

@media (min-width: 1500px) {
  .login-signup-and-icon-container button {
    width: 8.7rem; }
  .login-signup-and-icon-container button:first-child {
    margin-right: 2.5rem; }
  .login-signup-and-icon-container .envelope-icon {
    margin-right: 2.5rem; }
  .login-signup-and-icon-container .user-icon {
    margin-right: 2.5rem; } }

@media (min-width: 1800px) {
  .login-signup-and-icon-container button {
    width: 10.43rem; } }
