/*$light-grey: rgb(247, 247, 247);
$dark-grey: rgb(207, 207, 207);
$green-dark: rgb(40, 167, 69);
$green-light: rgb(52, 208, 88);
$light-dark: rgb(47, 47, 47);
$dark-black: rgb(0, 0, 0);
$new-messages-count: rgb(222, 16, 29)*/
