$light-grey: rgb(247, 247, 247);
$dark-grey: rgb(207, 207, 207);
$green-dark: rgb(40, 167, 69);
$green-light: rgb(52, 208, 88);
$light-dark: rgb(47, 47, 47);
$dark-black: rgb(0, 0, 0);
$new-messages-count: rgb(222, 16, 29);

$para-color: rgb(36, 41, 46);
$header-color-background: rgb(36, 41, 46);
$header-color-nav: white;
$hamburger-icon-color: rgb(207, 207, 207);
$nav-list-item-color: rgb(207, 207, 207);
$new-messages-count: rgb(222, 16, 29);

$button-color-dk: rgb(40, 167, 69);
$button-color-lt: rgb(52, 208, 88);
$red-dk: rgb(222, 16, 29);
$red-lt: rgb(234, 57, 48);
