.sidebar-outer-container {
    position: fixed;
    z-index: 50;
}

.sidebar-inner-container {
    position: relative;
}

.sidebar-toggle-container {
    width: 5rem;
    height: 100vh;
    z-index: 1;
    position: absolute;
    background: rgb(36, 41, 46);
    padding-top: 2rem;
    justify-content: center;
    align-items: flex-start;
    display: none;

    @include respond(mq-768) {
        display: flex;
    }
}

.sidebar {
    height: 100vh;
    width: 20rem;
    padding-top: 2.25rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(0rem);

    @include respond(mq-768) {
        transition: 0.3s ease-out;
        margin-left: 5rem;
    }

    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 1px 7px 20px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 1px 7px 20px 2px;
    box-shadow: rgba(0, 0, 0, 0.4) 1px 7px 20px 2px;
    background: rgb(210, 210, 210);

    .users-img-container {
        margin-bottom: 0.5rem;
        img {
            width: 15rem;
            display: block;
            border-radius: 3px;
        }
    }

    .sidebar-nav-icons-container {
        display: flex;
        margin-top: 2.5rem;

        .icon-container:not(:last-child) {
            margin-right: 2rem;
        }

        @include respond(mq-768) {
            .icon-container:not(:last-child) {
                margin-right: 1.5rem;
            }
        }
    }
}
