.sidebar-outer-container {
    position: fixed;
    z-index: 50;
    margin-top: 7.3rem;

    @include respond(mq-768) {
        margin-top: 7.2rem;
    }

    @include respond(mq-480) {
        margin: 6.7rem;
    }

    @include respond(mq-1500) {
        margin: 8rem;
    }

    @include respond(mq-1800) {
        margin: 9.1rem;
    }
}

.sidebar-inner-container {
    position: relative;
}

.sidebar-toggle-container {
    width: 5rem;
    height: 100vh;
    z-index: 1;
    position: absolute;
    background: rgb(36, 41, 46);
    padding-top: 2rem;
    justify-content: center;
    align-items: flex-start;
    display: none;

    @include respond(mq-768) {
        display: flex;
    }
}

.sidebar {
    height: 100vh;
    width: 20rem;
    padding-top: 2.25rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(0rem);
    transition: "transform 0.3s ease-out";

    @include respond(mq-768) {
        transition: 0.3s ease-out;
        margin-left: 5rem;
    }

    @include respond(mq-1500) {
        width: 27.7rem;
        padding-top: 5rem;
    }

    @include respond(mq-1800) {
        width: 35.3rem;
        padding-top: 7.4rem;
    }

    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 1px 7px 20px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 1px 7px 20px 2px;
    box-shadow: rgba(0, 0, 0, 0.4) 1px 7px 20px 2px;
    background: rgb(210, 210, 210);

    .sidebar-nav-icons-container {
        display: flex;
        margin-top: 2.5rem;

        @include respond(mq-1500) {
            margin-top: 3.5rem;
        }

        @include respond(mq-1800) {
            margin-top: 5rem;
        }

        .icon-container:not(:last-child) {
            margin-right: 2rem;
        }

        @include respond(mq-768) {
            .icon-container:not(:last-child) {
                margin-right: 1.5rem;
            }
        }

        @include respond(mq-1500) {
            .icon-container:not(:last-child) {
                margin-right: 2.5rem;
            }
        }

        @include respond(mq-1500) {
            .icon-container:not(:last-child) {
                margin-right: 3rem;
            }
        }
    }
}
